.contactForm {
  background-color: rgba(0, 0, 0, 0.61);
  max-height: 630px;
  width: 500px;
  margin-left: 10px;
  border-radius: 5px;
  overflow: hidden;
  @media (max-width: 1200px) {
    margin: 0;
  }

  @media (max-width: 600px) {
    width: 90%;
  }
}
