@import "../../style/theme.scss";

.container {
  min-height: 100vh;
  width: 400px;
  flex-shrink: 0;
  background-color: $backgroundColor;

  @media (max-width: 820px) {
    min-height: auto;
    width: 100%;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  padding: 0 15px;
  a {
    display: flex;
    align-items: center;
  }

  @media (max-width: 820px) {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}

.icon {
  margin: 0 7.5px !important;
  &:last-child {
    margin-right: 7.6px;
  }
}

.iconDescr {
  display: none;

  @media (max-width: 820px) {
    display: block;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 0 15px;
  h1 {
    font-size: 1.3rem;
    margin: 0;
    text-transform: capitalize;
  }

  @media (max-width: 820px) {
    margin-top: 0;
    margin-bottom: 20px;
  }

  @media (max-width: 550px) {
    margin-top: 10px;
  }
}

.description {
  margin-top: 15px;
  padding: 0 15px;
  line-height: 1.7rem;
  p {
    font-size: 1.1rem;
    &:first-child {
      margin-top: 0;
    }
  }

  @media (max-width: 820px) {
    display: none;
  }
}
