.controller {
  position: absolute;
  z-index: 1000;
  img {
    height: 100%;
    width: 100%;
  }
}

.up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
}

.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(90deg);
}

.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
