* {
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e6e6e6;
  background: #3c3b3f;
  background: -webkit-linear-gradient(to right, #605c3c, #666);
  background: linear-gradient(to right, #605c3c, #666);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
