@import "../../style/theme.scss";
@import "../../style/mixin.scss";

.container {
  min-height: auto;
  width: calc(100% - 50px);
  margin: 0 auto;
  margin-bottom: 10px;
}

.header {
  border-radius: $borderRadius;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include glassBackground;

  h3 {
    margin: 0;
    text-transform: capitalize;
  }
}

.fixedHeight {
  min-height: 100vh;
}

.fullWidth {
  width: 100%;
}
