@import "../../style/theme.scss";

.container {
  height: 70px;
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  position: relative;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  font-size: 1.5rem;
  cursor: pointer;
}

.underline {
  height: 5px;
  width: 50%;
  background-color: $textColor;
  position: absolute;
  left: 0;
  bottom: 7px;
  transition: 300ms;
  border-radius: 3px;
  transform: translateX(0);
}

.door {
  transform: translateX(100%);
}
