.container {
  position: relative;
  z-index: 1000;
}

.tooltip {
  position: absolute;
}

.content {
  position: relative;
  border-radius: 5px;
  background-color: #000;
  white-space: nowrap;
  padding: 15px;
  box-sizing: border-box;
  text-transform: capitalize;
}
