@import "../../../style/theme.scss";

.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.data {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $backgroundColor;
  width: 400px;
  z-index: 100000;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.title {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
  box-sizing: border-box;
  h3 {
    line-height: 25px;
  }
}

.content {
  max-height: 400px;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 25px;
  overflow: auto;
  p {
    margin: 0;
  }
}

.footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
